/* app css stylesheet */

html{
  overflow:hidden;
  height: 100vh;
}

a{
  text-decoration: none;
  border:none;
}
::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */


.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}


/* POCKETRAILER */
.primary{
  color:#EDE813;
}
.primary-bg{
  background-color:#EDE813;
}

.secondary{
  color:#14233A;
}
.secondary-bg{
  background-color:#14233A;
}

.red-bg{
  background-color:#D41818;
}

.text-color{
  color:#fff;
}

.header{
  height: 80px;
  width: 100%;
}

.logo{
  display: flex;
  height: 80px;
  font-size: 1.5em;
  
}
.search{
  display: flex;
  height: 80px;
}
.push-notification{
  display: flex;
  height: 80px;
}
.notification{
  position: absolute;
  text-align: center;
  font-size:12px;
  top:10px;
  margin-left:10px;
}
.notification span{
  height: 25px;
  width: 25px;
  background-color: #D41818;
  border-radius: 50%;
  display: inline-block;
}
.main-container{
  height: 100vh;
}
.movie-list{
  height: calc(100vh - 125px);
  overflow-y: scroll;
  overflow-x: hidden;
}
.card{
  background-color:#14233A !important;
}
.detail-movie{
  height: calc(100vh - 125px);
  overflow-y: auto;
  overflow-x: hidden;
  padding-top:1em;
}
.movie-item{
  padding-top:1em;
  min-height: 250px;
}
.movie-item .card{
  border:none;
}
movie-item{
display:block;
cursor: pointer;
}
movie-item.active {
  border:2px solid #fff;
  padding:1em;
}
.movie-cast-faces{
  padding-bottom:10px;
}
.card-text{
  overflow: hidden;
width:100%;
  display: -webkit-box;
-webkit-line-clamp: 3;
-webkit-box-orient: vertical;
}
